<div id="<%= dom_id restaurant %>">
  <div class='card p-3'>
    <p class='m-0'>
      <strong>Name:</strong>
      <%= restaurant.name %>
    </p>

    <p class='m-0'>
      <strong>Address:</strong>
      <%= restaurant.address %>
    </p>

    <p class='m-0'>
      <strong>Phone number:</strong>
      <%= restaurant.phone_number %>
    </p>

    <p class='m-0'>
      <strong>Category:</strong>
      <%= restaurant.category %>
    </p>
  </div>
</div>
